@model MVC_SYSTEM.LabourModels.vw_LbrTrnsferData
@{
    ViewBag.Title = "Transfer Labour Detail";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    string Disable = "";
    GetNSWL GetNSWL = new GetNSWL();
    var LadangList = GetNSWL.GetLadang();

    var LadangNameFrom = LadangList.Where(x => x.fld_LadangID == Model.fld_LadangIDFrom).Select(s => s.fld_NamaLadang).Distinct().FirstOrDefault();
    var LadangNameTo = LadangList.Where(x => x.fld_LadangID == Model.fld_LadangIDTo).Select(s => s.fld_NamaLadang).Distinct().FirstOrDefault();
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-wrapper main-content clear-fix">
        <div class="well" id="well">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = ViewBag.MsgColor })
                @Html.HiddenFor(model => model.fld_ID)
                @Html.HiddenFor(model => model.fld_NegaraIDTo)
                @Html.HiddenFor(model => model.fld_SyarikatIDTo)
                @Html.HiddenFor(model => model.fld_WilayahIDTo)
                @Html.HiddenFor(model => model.fld_LadangIDTo)
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Estate Labour Transfer From @LadangNameFrom To @LadangNameTo</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_WorkerIDNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_WorkerIDNo, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_NewWorkerNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.fld_NewWorkerNo, new { htmlAttributes = new { @class = "form-control", @readonly = "true" } })
                                    @Html.ValidationMessageFor(model => model.fld_NewWorkerNo, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-2">
                                    @if (!string.IsNullOrEmpty(Model.fld_NewWorkerNo))
                                    {
                                        Disable = "disabled";
                                    }
                                    <button type="button" id="GenWorkerNo" name="GenWorkerNo" class="btn btn-success" @Disable>Generate Worker No</button>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_WorkerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_WorkerName, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Cost Center", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("fld_CostCenter", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                    @if (ViewBag.GetExistingWorker == 0)
                                    {
                                        <button type="button" id="TrnsfrCheckrll" name="TrnsfrCheckrll" class="btn btn-success">Transfer To Checkroll</button>
                                    }
                                    @Html.ActionLink("Back", "Index", "LabourTransfer", new { id = Model.fld_LbrRefID }, htmlAttributes: new { @class = "btn btn-warning" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $("#GenWorkerNo").click(function () {
        var ID = $("#fld_ID").val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetWorkerNo2", "AjaxRequest")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ ID: ID });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            if (result != '') {
                $('#fld_NewWorkerNo').val(result);
                $("#GenWorkerNo").attr("disabled", true);
            }
            else {

            }
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResGeneral.lblContactTechnical', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });

    $("#TrnsfrCheckrll").click(function () {
        var ID = $("#fld_ID").val();
        var CostCenter = $("#fld_CostCenter").val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("TransferToCheckRoll2", "AjaxRequest")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ ID: ID, CostCenter: CostCenter });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $.simplyToast(result.msg, result.statusmsg);
            $("#TrnsfrCheckrll").attr("disabled", true);
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResGeneral.lblContactTechnical', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


