@model MVC_SYSTEM.MasterModels.tbl_FlightDestination
@{
    ViewBag.Title = "Add Flight Destination";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";

}

<section class="content-wrapper main-content clear-fix">
    <div class="well" id="well">
        <div class="form-horizontal">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Add Flight Distination</div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = ViewBag.MsgColor })
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_DestinationName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_DestinationName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                    @Html.ActionLink("Back", "UpdateMenu", "LabourDetail", new { id = Model.fld_ID }, htmlAttributes: new { @class = "btn btn-warning" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Flight Request Info</div>
                    <div class="panel-body">
                        <div class="form-group">
                            @Html.Action("_LabourFlightRequestDetail", new { LabourID = Model.fld_ID })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

