@model MVC_SYSTEM.LabourModels.tbl_LbrDataInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_LbrDataInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fld_WorkerNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_WorkerNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_WorkerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_WorkerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_WorkerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_WorkerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_SexType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_SexType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_Race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Race)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_Religion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Religion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_BOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_BOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_MarriedStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_MarriedStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_FeldaRelated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_FeldaRelated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_ActiveStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_ActiveStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_InactiveDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_InactiveDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_InactiveResson)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_InactiveResson)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_WorkingStartDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_WorkingStartDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_ConfirmationDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_ConfirmationDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_WorkerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_WorkerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_NegaraID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_NegaraID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_SyarikatID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_SyarikatID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_WilayahID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_WilayahID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_LadangID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_LadangID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_DivisionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_DivisionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_LbrRqstID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_LbrRqstID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_OriginalBatchNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_OriginalBatchNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fld_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
