@model MVC_SYSTEM.LabourModels.tbl_LbrTKAProcess

@{
    ViewBag.Title = "ApproveReject";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.DateScriptAdv = 1;
    GetConfig GetConfig = new GetConfig();
    string dateformat = GetConfig.GetData("dateformat");
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-wrapper main-content clear-fix">
        <div class="well" id="well">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.fld_ID)
                @Html.HiddenFor(model => model.fld_LbrRqstID)
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Interview Process</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_Nama, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_Nama, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fld_Nama, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_NoPassport, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_NoPassport, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fld_NoPassport, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_BOD, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class='input-group date' id='datetimepicker1'>
                                        @Html.EditorFor(model => model.fld_BOD, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_Age, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_Age, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fld_Age, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_SexType, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("fld_SexType", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_SexType, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_SuccessStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("fld_SuccessStatus", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_SuccessStatus, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_UnsuccessReason, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("fld_UnsuccessReason", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.fld_UnsuccessReason, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_ArrivedDT, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class='input-group date' id='datetimepicker2'>
                                        @Html.EditorFor(model => model.fld_ArrivedDT, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.fld_Notes, 8, 150, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.fld_Notes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                    @Html.ActionLink("Back to List", "Create", new { BatchNo = ViewBag.GetBatchNo }, htmlAttributes: new { @class = "btn btn-warning" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $('#datetimepicker1').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });

    $('#datetimepicker2').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });

    $("#datetimepicker1").on("dp.change", function (e) {
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        $("#fld_Age").val(getAge(SelectDate));
    });
    function getAge(DOB) {
        var today = new Date();
        var birthDate = new Date(DOB);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age = age - 1;
        }

        return age;
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
