@model MVC_SYSTEM.LabourModels.tbl_LbrDataInfo

@{
    ViewBag.Title = "TKA Full Information";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.DateScriptAdv = 1;
    GetConfig GetConfig = new GetConfig();
    string dateformat = GetConfig.GetData("dateformat");
}
<style>
    div.ex0 {
        height: auto;
        width: 100px;
        margin: 100px;
        background-color: purple;
    }

    div.ex2 {
        padding-left: 150px;
        padding-top: 10px;
    }

    div.ex3 {
        padding-left: 165px;
        padding-top: 10px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-wrapper main-content clear-fix">
        <div class="well" id="well">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = ViewBag.MsgColor })
                @Html.HiddenFor(model => model.fld_ID)
                <div class="col-sm-12">
                    <h3 class="modal-title">Estate Labour Information</h3>
                    <div class="panel panel-primary">
                        <div class="panel-heading">@GlobalResEstate.lblhdrPersonalInfo</div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:40px; ">Worker No:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_WorkerNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "float:right; margin-top: 20px"} })
                                @Html.ValidationMessageFor(model => model.fld_WorkerNo, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 40px; ">Worker ID:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_WorkerIDNo, new { htmlAttributes = new { @class = "form-control",@readonly = "readonly", @style = "float:right; margin-top: 20px" } })
                                @Html.ValidationMessageFor(model => model.fld_WorkerIDNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Worker Name:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_WorkerName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_WorkerName, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Gender:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_SexType", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_SexType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Birth Date:</label>
                            </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.EditorFor(model => model.fld_BOD, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Age:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_Age, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_Age, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Marital Status:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_MarriedStatus", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_MarriedStatus, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Religion:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_Religion", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Religion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Race:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_Race", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Race, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Nationality:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_Nationality", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Nationality, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Worker Address:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.TextAreaFor(model => model.fld_WorkerAddress, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_WorkerAddress, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Poscode:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_Postcode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_Postcode, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">State:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_State", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_State, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Country:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_Country", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Country, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Phone No:</label>
                            </div>

                            <div class="col-sm-3">
                                Enter Phone No without any symbol '-'
                                @Html.EditorFor(model => model.fld_PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_PhoneNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @* ======================================================*@
                        <br />
                        <div class="panel-heading">@GlobalResEstate.lblhdrServiceInfo</div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Worker Type:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_WorkerType", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_WorkerType, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Worker Category:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_WorkCtgry", null, htmlAttributes: new { @class = "form-control", @style = "float:right;" })
                                @Html.ValidationMessageFor(model => model.fld_WorkCtgry, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Supplier:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_SupplierCode", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_SupplierCode, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Remarks:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.TextAreaFor(model => model.fld_Notes, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_Notes, "", new { @class = "text-danger" })
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Working Started Date:</label>
                            </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker3'>
                                    @Html.EditorFor(model => model.fld_WorkingStartDT, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Confirmation Date:</label>
                            </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker4'>
                                    @Html.EditorFor(model => model.fld_ConfirmationDT, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">Perkeso No:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_PerkesoNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_PerkesoNo, "", new { @class = "text-danger" })

                            </div>

                            <div class="col-sm-2">
                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 20px; ">ROC:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_Roc", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_Roc, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Bank:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_BankCode", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_BankCode, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Bank Acc No:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_BankAcc, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_BankAcc, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Payment Mode:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_PaymentMode", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.fld_PaymentMode, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; ">Last 4 PAN:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_Last4Pan, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_Last4Pan, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*========================================================================*@
                        <br />
                        <div class="panel-heading">@GlobalResEstate.lblhdrPassportInfo</div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Arrived Date:</label>
                            </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker16'>
                                    @Html.EditorFor(model => model.fld_ArrivedDT, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Passport Status:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_PassportStatus", null, htmlAttributes: new { @class = "form-control", @style = "float:right;" })
                                @Html.ValidationMessageFor(model => model.fld_PassportStatus, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Passport Start Date:</label>
                            </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker8'>
                                    @Html.EditorFor(model => model.fld_PassportStartDT, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Passport Expired Date:</label>
                            </div>
                            @*nana*@
                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker9'>
                                    @Html.EditorFor(model => model.fld_PassportEndDT, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            @if (ViewBag.ExistingPassport == 0)
                            {
                                <div class="col-sm-2">
                                    <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Passport Renewal Start Date:</label>
                                </div>

                                <div class="col-sm-3">
                                        @Html.EditorFor(model => model.fld_PassportRenewalStartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="col-sm-2">
                                    <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Passport Renewal Status:</label>
                                </div>

                                <div class="col-sm-3">
                                    @Html.DropDownList("fld_PassportRenewalStatus", null, htmlAttributes: new { @class = "form-control", @style = "float:right;", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.fld_PassportRenewalStatus, "", new { @class = "text-danger" })
                                </div>
                            }
                            else
                            {
                                <div class="col-sm-2">
                                    <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Passport Renewal Start Date:</label>
                                </div>

                                <div class="col-sm-3">
                                    <div class='input-group date' id='datetimepicker10'>
                                        @Html.EditorFor(model => model.fld_PassportRenewalStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Passport Renewal Status:</label>
                                </div>

                                <div class="col-sm-3">
                                    @Html.DropDownList("fld_PassportRenewalStatus", null, htmlAttributes: new { @class = "form-control", @style = "float:right;" })
                                    @Html.ValidationMessageFor(model => model.fld_PassportRenewalStatus, "", new { @class = "text-danger" })
                                </div>
                            }
                        </div>
                        @*==========================*@
                        <br />
                        <div class="panel-heading">@GlobalResEstate.lblhdrPermitInfo</div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit No:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.EditorFor(model => model.fld_PermitNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.fld_PermitNo, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit Status:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_PermitStatus", null, htmlAttributes: new { @class = "form-control", @style = "float:right;" })
                                @Html.ValidationMessageFor(model => model.fld_PermitStatus, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit Start Date:</label>
                            </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker11'>
                                    @Html.EditorFor(model => model.fld_PermitStartDT, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit Expired Date:</label>
                            </div>
                            @*nana*@
                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker12'>
                                    @Html.EditorFor(model => model.fld_PermitEndDT, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @if (ViewBag.ExistingPermit == 0)
                            {
                                <div class="col-sm-2">
                                    <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit Renewal Start Date:</label>
                                </div>

                                <div class="col-sm-3">
                                        @Html.EditorFor(model => model.fld_PermitRenewalStartDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="col-sm-2">
                                    <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit Renewal Status:</label>
                                </div>

                                <div class="col-sm-3">
                                    @Html.DropDownList("fld_PermitRenewalStatus", null, htmlAttributes: new { @class = "form-control", @style = "float:right;", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.fld_PermitRenewalStatus, "", new { @class = "text-danger" })

                                </div>
                            }
                            else
                            {
                                <div class="col-sm-2">
                                    <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit Renewal Start Date:</label>
                                </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker13'>
                                    @Html.EditorFor(model => model.fld_PermitRenewalStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Permit Renewal Status:</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownList("fld_PermitRenewalStatus", null, htmlAttributes: new { @class = "form-control", @style = "float:right;" })
                                @Html.ValidationMessageFor(model => model.fld_PermitRenewalStatus, "", new { @class = "text-danger" })

                            </div>
                            }
                        </div>


                        @*==========================*@
                        <br />
                        <div class="panel-heading">@GlobalResEstate.lblhdrContractInfo</div>
                        <br />
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Contract Start Date:</label>
                            </div>

                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker14'>
                                    @Html.EditorFor(model => model.fld_ContractStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label style="float:left; margin-right:5px ; padding-left:40px; padding-top:20px; ">Contract Expired Date:</label>
                            </div>
                            @*nana*@
                            <div class="col-sm-3">
                                <div class='input-group date' id='datetimepicker15'>
                                    @Html.EditorFor(model => model.fld_ContractExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-md-offset-8 col-md-10">
                                <input type="submit" value="Save" class="btn btn-success" />
                                <a data-modal1='' href='@Url.Action("_LabourRelationshipDetail", "LabourDetail", new { LabourID = Model.fld_ID})' class='btn btn-success'>Relationship Data</a>
                                @Html.ActionLink("Sync To Checkroll", "Index", "LabourToCheckroll", new { id = Model.fld_ID }, htmlAttributes: new { @class = "btn btn-success" })
                                @Html.ActionLink("Back", "UpdateMenu", "LabourDetail", new { id = Model.fld_ID }, htmlAttributes: new { @class = "btn btn-warning" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog modal-lg" style="width: 60%">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>

<script>
    $('#datetimepicker1').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker2').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker3').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker4').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker5').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker6').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker7').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });

    /*//added by Shazana on 19/11/2021*/
    $('#datetimepicker8').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
    /*// Close Added by Shazana on 19/11/2021*/
      $('#datetimepicker9').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
      $('#datetimepicker10').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
      $('#datetimepicker11').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
      $('#datetimepicker12').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
      $('#datetimepicker13').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
      $('#datetimepicker14').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
      $('#datetimepicker15').datetimepicker({
    format: '@dateformat',
    useCurrent: false
    });
          $('#datetimepicker16').datetimepicker({
    format: '@dateformat',
    useCurrent: false
          });

    $("#datetimepicker1").on("dp.change", function (e) {
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        $("#fld_Age").val(getAge(SelectDate));
    });
    var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
    $("#fld_Age").val(getAge(SelectDate));
    function getAge(DOB) {
        var today = new Date();
        var birthDate = new Date(DOB);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age = age - 1;
        }

        return age;
    }

</script>

@section Scripts {
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}