@model IEnumerable<MVC_SYSTEM.LabourModels.tbl_LbrDataInfo>

@{
    ViewBag.Title = "_LabourFomema";
    GetIdentity GetIdentity = new GetIdentity();
    GetNSWL GetNSWL = new GetNSWL();
    GeneralFunc GeneralFunc = new GeneralFunc();
    string[] WebConfigFilter = new string[] { "fomemarenew" };
    GetConfig GetConfig = new GetConfig();
    var LadangList = GetNSWL.GetLadang();
    string WilayahName = "";
    string LadangName = "";
    int i = 1;
}

@if (Model != null && Model.Count() != 0)
{
    <div class="modal-body" id="scrollArea2">
        <table class="table table-hover" style="font-size: 11px;" cellspacing="0" border="0" width="100%">
            <thead>
                <tr>
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">No</th>
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">@Html.DisplayNameFor(model => model.fld_WorkerNo)</th>
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">@Html.DisplayNameFor(model => model.fld_WorkerIDNo)</th>
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">@Html.DisplayNameFor(model => model.fld_WorkerName)</th>
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">@Html.DisplayNameFor(model => model.fld_PermitEndDT)</th>
                    <th colspan="3" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Total Days Services</th> @*modified by wani 3/2/2020  (1) *@
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">@Html.DisplayNameFor(model => model.fld_WilayahID)</th>
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">@Html.DisplayNameFor(model => model.fld_LadangID)</th>
                    <th rowspan="2" bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Action</th>
                </tr>
                <tr>
                    <th bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Year</th>  @*modified by wani 3/2/2020  (2) *@
                    <th bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Month</th> @*modified by wani 3/2/2020  (3) *@
                    <th bgcolor="#aed6f1" style="color:white;text-align:center;vertical-align:middle !important;border:1px solid black;color:black;" border="1">Day</th>  @*modified by wani 3/2/2020  (4) *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    WilayahName = LadangList.Where(x => x.fld_WilayahID == item.fld_WilayahID).Select(s => s.fld_NamaWilayah).Distinct().FirstOrDefault();
                    LadangName = LadangList.Where(x => x.fld_LadangID == item.fld_LadangID).Select(s => s.fld_NamaLadang).Distinct().FirstOrDefault();
                    var GetConfigData = GetConfig.GetConfigDesc(item.fld_NegaraID, item.fld_SyarikatID, WebConfigFilter);
                    var YearStiker = GeneralFunc.CalAge(item.fld_ArrivedDT.Value) + 1;
                    var TotalDayServiceYMD = GeneralFunc.TimeSpanToDate(item.fld_ArrivedDT.Value);
                    var months = GeneralFunc.TimeSpanToMonth(item.fld_ArrivedDT.Value);
                    var days = GeneralFunc.TimeSpanToDay(item.fld_ArrivedDT.Value);
                    var FormemaRenew = GetConfigData.Where(x => x.fldOptConfValue == YearStiker.ToString() && x.fldOptConfFlag1 == "fomemarenew").FirstOrDefault();
                    if (FormemaRenew != null)
                    {
                        <tr>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@i</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_WorkerNo)</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_WorkerIDNo)</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_WorkerName)</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@Html.DisplayFor(modelItem => item.fld_PermitEndDT)</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@TotalDayServiceYMD</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@months</td> @*modified by wani 3/2/2020  (5) *@
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@days</td> @*modified by wani 3/2/2020  (6) *@
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@WilayahName</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">@LadangName</td>
                            <td align="center" style="vertical-align:middle !important;border:1px solid black;" border="1">
                                @if (FormemaRenew != null)
                                {
                                    @Html.ActionLink(FormemaRenew.fldOptConfDesc + " Fomema", "FomemaRegister", "LabourFomema", new { id = item.fld_ID }, null)
                                }
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>

    if (ViewBag.Print == null)
    {
        @*<a href="#" onclick="HTMLtoExcel('LabourFomema')">Download Excel</a>*@

        <div style="text-align:right; margin-top:10px" id="AllDownload">
            @*<a class="btn btn-default btn-sm" href="#" id="printpage">
                    <span class="glyphicon glyphicon-print"> </span>Print
                </a>*@
            <a class="btn btn-default btn-sm" href="#" id="downloadpdf">
                <span><img src="~/Asset/Images/pdf-icon.png" width="20px" height="20px" /></span> Download PDF
            </a>
            <a class="btn btn-default btn-sm" href="#" id="HTMLtoExcel">
                <span><img src="~/Asset/Images/excel-icon.png" width="20px" height="20px" /></span>download Excel
            </a>
        </div>
    }

}

else
{
    <div id="scrollArea2" class="modal-body" style="text-align: center">
        <p style="color: red">@ViewBag.Message</p>

    </div>

}

<style>
    #page td {
        padding: 2px;
        margin: 2px;
    }

    table {
        page-break-inside: avoid
    }

    #content {
        display: table;
    }

    #pageFooter {
        display: table-footer-group;
    }

    #page_number:after {
        content: "";
        counter-increment: pagenumber;
        content: "Page" counter(pagenumber) "of" counter(pagenumber);
    }

    /*Edited by Shazana on 3/9*/
    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }
</style>
<script>
    $("#WilayahIDList").change(function () {
        var WilayahIDParam = $('#WilayahIDList').val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetLadangList", "AjaxRequest")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ WilayahIDParam: WilayahIDParam });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $("#LadangIDList").empty();
            for (var i = 0; i < result.length; i++) {
                $("#LadangIDList").append("<option value=" + result[i].Value + ">" + result[i].Text + "</option>");
            }
            $("#UpdateProgress1").css("display", "none");
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResGeneral.lblContactTechnical', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });
</script>

<script src="~/Asset/Scripts/FromHTML.js"></script>
<script src="~/Asset/Scripts/FileSaver.js"></script>
<script>

    $("#HTMLtoExcel").click(function () {


        var blob = new Blob([document.getElementById('scrollArea2').innerHTML], {
            type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;charset=utf-8"
        })
        saveAs(blob, 'LabourFomema' + ".xls");  //Edited by Shazana on 3/9

    });


    $(document).ready(function () {
        $("#printpage").click(function () {
            var DivElement = document.getElementById("scrollArea2").innerHTML;
            var page_number;
            var oldPage = document.body.innerHTML;
            document.body.innerHTML = DivElement;
            window.print();
            document.body.innerHTML = oldPage;
            document.getElementById("content").innerHTML = page_number.toString();
            window.toLocaleString.print();

        })

        $("#downloadpdf").click(function () {

            //var RadioGroup = $('input[name=RadioGroup]:checked').val();
            $("#AllDownload").attr("style", "display:none");
            var WilayahIDList = $("#WilayahIDList").val();
            var LadangIDList = $("#LadangIDList").val();
            var StatusList = $("#StatusList").val();
            var FreeText = $("#FreeText").val();
            var MonthList = $("#MonthList").val();
            var MonthList2 = $("#MonthList2").val();
            var YearList = $("#YearList").val();
            var Print = 'Print';
            var param = '/?WilayahIDList=' + WilayahIDList + '&LadangIDList=' + LadangIDList + '&FreeText=' + FreeText + '&MonthList=' + MonthList + '&MonthList2=' + MonthList2 + '&YearList=' + YearList + '&Print=' + Print;
            var controller = 'LabourFomema';
            var action = 'PrintWorkerPdf';

            var ajxfn = {};
            ajxfn.url = "@Url.Action("PDFIndetifier", "PdfCreator")";
            ajxfn.type = "POST";
            ajxfn.data = JSON.stringify({ controller: controller, action: action, param: param });
            ajxfn.datatype = "json";
            ajxfn.contentType = "application/json";
            ajxfn.success = function (result)

            {

            // alert("Success!");
            //var win = window.open(result.link, '_blank');
            //win.focus();
            PDFObject.embed(result.link, "#scrollArea2", { height: "450px" });
            };


            ajxfn.error = function () {
            alert("Failed!");
            $.simplyToast('@GlobalResEstate.msgError', 'danger');
            $("#UpdateProgress1").css("display", "none");
            };
            $.ajax(ajxfn);

            return false;
            });
            });
</script>
