@model MVC_SYSTEM.LabourModels.vw_LbrFomemaRslt
@{
    ViewBag.Title = "Cancel Labour Fomema";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetConfig GetConfig = new GetConfig();
    string[] WebConfigFilter = new string[] { "fomematype", "acknwldmnttype", "sector", "negeri", "result" };
    var GetConfigData = GetConfig.GetConfigDesc(Model.fld_NegaraID, Model.fld_SyarikatID, WebConfigFilter);
    string FomemaType = GetConfigData.Where(x => x.fldOptConfFlag1 == "fomematype" && x.fldOptConfValue == Model.fld_FormemaTypeCode).Select(s => s.fldOptConfDesc).FirstOrDefault();
    string Result = GetConfigData.Where(x => x.fldOptConfFlag1 == "result" && x.fldOptConfValue == Model.fld_FomemaResult.ToString()).Select(s => s.fldOptConfDesc).FirstOrDefault();
}

<section class="content-wrapper main-content clear-fix">
    <div class="well" id="well">
        <div class="form-horizontal">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Cancel Fomema Registration: @Model.fld_WorkerNo - @Model.fld_WorkerName</div>
                    <div class="panel-body">
                        @using (Html.BeginForm())
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = ViewBag.MsgColor })
                            <input type="hidden" id="id" name="id" value="@Model.fld_ID" />
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_WorkerIDNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_WorkerIDNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.fld_WorkerName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.fld_WorkerName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("FOMEMA Type", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("FormemaTypeCode", FomemaType, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Examination Result", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBox("FomemaResult", Result, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Label("Result Date *", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    <div class='input-group date' id='datetimepicker1'>
                                        <input id="fld_ResultDT" name="fld_ResultDT" class="form-control" value="@string.Format("{0:dd/MM/yyyy}", Model.fld_ResultDT)" readonly />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Proceed" class="btn btn-success" />
                                    @Html.ActionLink("Back", "FomemaRegister", "LabourFomema", new { id = Model.fld_LbrRefID }, htmlAttributes: new { @class = "btn btn-warning" })
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>