@model MVC_SYSTEM.LabourModels.tbl_LbrTKTProcess

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_LbrTKTProcess</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fld_Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_NoIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_NoIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_SexType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_SexType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_Age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_LbrRqstID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_LbrRqstID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fld_ProcessStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fld_ProcessStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
