@model IEnumerable<MVC_SYSTEM.LabourModels.tbl_LbrTKTProcess>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fld_Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_NoIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_SexType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_LbrRqstID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fld_ProcessStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Nama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_NoIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_SexType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_LbrRqstID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fld_ProcessStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.fld_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.fld_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.fld_ID })
        </td>
    </tr>
}

</table>
