@model MVC_SYSTEM.LabourModels.tbl_LbrDataInfo

@{
    ViewBag.Title = "TKAFullInformation";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.DateScriptAdv = 1;
    GetConfig GetConfig = new GetConfig();
    string dateformat = GetConfig.GetData("dateformat");
}
<style>
    div.ex0 {
        height: auto;
        width: 100px;
        margin: 100px;
        background-color: purple;
    }

    div.ex2 {
        padding-left: 150px;
        padding-top: 10px;
    }

    div.ex3 {
        padding-left: 165px;
        padding-top: 10px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="content-wrapper main-content clear-fix">
        <div class="well" id="well">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger", @style = ViewBag.MsgColor })
                @Html.HiddenFor(model => model.fld_ID)
                @Html.HiddenFor(model => model.fld_LbrProcessID)
                <div class="col-sm-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Estate Labour Information</div>
                        <div class="panel-body">
                            <table>
                                <div>
                                    <tr>
                                        <td style="form-group">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:40px; ">Worker ID:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.fld_WorkerIDNo, new { htmlAttributes = new { @class = "form-control", @style = "float:right; margin-top: 20px" } })
                                                    @Html.ValidationMessageFor(model => model.fld_WorkerIDNo, "", new { @class = "text-danger" })

                                                </div>

                                            </div>
                                        </td>

                                        <td style="form-group">
                                            <div>
                                                <label style="float: left; margin-right: 10px; padding-left: 40px; padding-top: 40px; ">Gender:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class=" col-md-7">
                                                    @Html.DropDownList("fld_SexType", null, htmlAttributes: new { @class = "form-control", @style = "float:right; margin-top: 20px" })
                                                    @Html.ValidationMessageFor(model => model.fld_SexType, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px; ">Permit No:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.fld_PermitNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fld_PermitNo, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px">Marital Status:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_MarriedStatus", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_MarriedStatus, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px; ">Worker Name:</label>
                                                <div class="ex2">
                                                    <div class="col-md-7">
                                                        @Html.EditorFor(model => model.fld_WorkerName, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(model => model.fld_WorkerName, "", new { @class = "text-danger" })


                                                    </div>
                                                </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px">Religion:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_Religion", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_Religion, "", new { @class = "text-danger" })


                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px; ">Birth Date:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='datetimepicker1'>
                                                        @Html.EditorFor(model => model.fld_BOD, new { htmlAttributes = new { @class = "form-control" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px">Race:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_Race", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_Race, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px; ">Age:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.fld_Age, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fld_Age, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px">Nationality:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_Nationality", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_Nationality, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px; ">Phone No:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.fld_PhoneNo, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fld_PhoneNo, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px">Supplier:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_SupplierCode", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_SupplierCode, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px; ">Worker Address:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.TextAreaFor(model => model.fld_WorkerAddress, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fld_WorkerAddress, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px">Remarks:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    @Html.TextAreaFor(model => model.fld_Notes, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fld_Notes, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px; ">Poscode;</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.fld_Postcode, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fld_Postcode, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px">Arrived Date:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='datetimepicker7'>
                                                        @Html.EditorFor(model => model.fld_ArrivedDT, new { htmlAttributes = new { @class = "form-control" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr style="padding-top:20px">

                                        <td>
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; "> State:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_State", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_State, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px"> Confirmation Date:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='datetimepicker4'>
                                                        @Html.EditorFor(model => model.fld_ConfirmationDT, new { htmlAttributes = new { @class = "form-control" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr style="padding-top:20px">

                                        <td>
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; "> Country:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_Country", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_Country, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px"> Working Started Date:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='datetimepicker3'>
                                                        @Html.EditorFor(model => model.fld_WorkingStartDT, new { htmlAttributes = new { @class = "form-control" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr style="padding-top:20px">

                                        <td>
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px; "> Worker Type:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_WorkerType", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.fld_WorkerType, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>

                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px"> Passport End Date:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='datetimepicker5'>
                                                        @Html.EditorFor(model => model.fld_PassportEndDT, new { htmlAttributes = new { @class = "form-control" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>

                                    <tr style="padding-top:20px">

                                        <td>
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px "> Worker Category:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_WorkCtgry", null, htmlAttributes: new { @class = "form-control", @style = "float:right;" })
                                                    @Html.ValidationMessageFor(model => model.fld_WorkCtgry, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width:50%">
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px"> Permit End Date:</label>
                                            </div>
                                            <div class="ex3">
                                                <div class="col-md-7">
                                                    <div class='input-group date' id='datetimepicker6'>
                                                        @Html.EditorFor(model => model.fld_PermitEndDT, new { htmlAttributes = new { @class = "form-control" } })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    @* added by faeza 20.04.2021 *@
                                    <tr style="padding-top:20px">

                                        <td>
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px "> Payment Mode:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.DropDownList("fld_PaymentMode", null, htmlAttributes: new { @class = "form-control", @style = "float:right;" })
                                                    @Html.ValidationMessageFor(model => model.fld_PaymentMode, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width:50%">
                                            @*<div>
                                                    <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px"> Permit End Date:</label>
                                                </div>
                                                <div class="ex3">
                                                    <div class="col-md-7">
                                                        <div class='input-group date' id='datetimepicker6'>
                                                            @Html.EditorFor(model => model.fld_PermitEndDT, new { htmlAttributes = new { @class = "form-control" } })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </td>
                                    </tr>
                                    <tr style="padding-top:20px">
                                        <td>
                                            <div>
                                                <label style="float:left; margin-right:10px ; padding-left:40px; padding-top:20px "> Payment Mode:</label>
                                            </div>
                                            <div class="ex2">
                                                <div class="col-md-7">
                                                    @Html.EditorFor(model => model.fld_Last4Pan, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.fld_Last4Pan, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </td>
                                        <td style="width:50%">
                                            @*<div>
                                                    <label style="float:left; margin-right:10px ; padding-left:40px;  padding-top:20px"> Permit End Date:</label>
                                                </div>
                                                <div class="ex3">
                                                    <div class="col-md-7">
                                                        <div class='input-group date' id='datetimepicker6'>
                                                            @Html.EditorFor(model => model.fld_PermitEndDT, new { htmlAttributes = new { @class = "form-control" } })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </td>
                                    </tr>
                                </div>
                            </table>


                            <div class="form-group">
                                <div class="col-md-offset-8 col-md-10" style="padding-top:30px">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                    @if (Model.fld_ID != Guid.Parse("00000000-0000-0000-0000-000000000000"))
                                    {
                                        @Html.ActionLink("Sync To Checkroll", "Index", "LabourToCheckroll", new { id = Model.fld_ID }, htmlAttributes: new { @class = "btn btn-success" })
                                    }
                                    @Html.ActionLink("Back to List", "TKAInformation", "LabourApprovedRequest", new { BatchNo = ViewBag.GetBatchNo }, htmlAttributes: new { @class = "btn btn-warning" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    $('#datetimepicker1').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker2').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker3').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker4').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker5').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker6').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });
    $('#datetimepicker7').datetimepicker({
        format: '@dateformat',
        useCurrent: false
    });

    $("#datetimepicker1").on("dp.change", function (e) {
        var SelectDate = $('#datetimepicker1').data("DateTimePicker").date();
        $("#fld_Age").val(getAge(SelectDate));
    });
    function getAge(DOB) {
        var today = new Date();
        var birthDate = new Date(DOB);
        var age = today.getFullYear() - birthDate.getFullYear();
        var m = today.getMonth() - birthDate.getMonth();
        if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
            age = age - 1;
        }

        return age;
    }

    @*$("#GenWorkerNo").click(function () {
        var ID = $("#fld_ID").val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("GetWorkerNo", "AjaxRequest")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ ID: ID });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $('#fld_WorkerNo').val(result);
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResGeneral.lblContactTechnical', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });

    $("#TrnsfrCheckrll").click(function () {
        var ID = $("#fld_ID").val();
        var ajxfn = {};
        ajxfn.url = "@Url.Action("TransferToCheckRoll", "AjaxRequest")";
        ajxfn.type = "POST";
        ajxfn.data = JSON.stringify({ ID: ID });
        ajxfn.datatype = "json";
        ajxfn.contentType = "application/json";
        ajxfn.success = function (result) {
            $.simplyToast(result.msg, result.statusmsg);
        };
        ajxfn.error = function () {
            $.simplyToast('@GlobalResGeneral.lblContactTechnical', 'danger');
            $("#UpdateProgress1").css("display", "none");
        };
        $.ajax(ajxfn);
    });*@
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}